* {
    margin: 0;
    padding:0;
}
.wrapper {
    width: 100%;
}
.img-banner {
    display: none;
}

.Lorem-Ipsum {
    width: 100%;
}
.Lorem-Ipsum h2{
    padding: 30px 40px 20px;
    font-family: arial, serif;
    font-size: 50px;
    color: #111;
    line-height: normal;
}
.Lorem-Ipsum p {
    padding: 0 40px 20px;
    font-family: arial, serif;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}
.img-pepe {
    width: 100%;
}
@media only screen and (min-width: 768px) {
    .img-banner {
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper {
        width: 600px;
        margin: 0 auto;
    }
    .Lorem-Ipsum h2{
        padding: 20px 0 0;
    }
    .Lorem-Ipsum p {
        padding: 20px 0 0;
    }
    .img-pepe {
        padding-top: 30px;
    }
}
@media only screen and (min-width: 1000px) {
    .wrapper {
        width: 1000px;
    }
    .Lorem-Ipsum {
        width: 50%;
        float: right;
    }
    .Lorem-Ipsum h2{
        padding: 20px 0 0 30px;
    }
    .Lorem-Ipsum p {
        padding: 20px 0 0 30px;
    }
    .img-pepe {
        padding-top: 0;
        width: 50%;
        float: left;

    }
}
body {
    background-color: #abdafc;
}
header {
    background-color: #ffffff;
    width: 100%;
    height: 100px;
}
header .header-name {
    font-family: Elephant, serif;
    font-size: 24px;
    color: #111111;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 16px 0;
}
header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}
header nav ul li {
    display: inline-block;
    float: left; /* prevent slight gap */
    list-style: none; /* no bullet points*/
    padding: 0 16px;
}
header nav ul li a{
    font-family: Elephant, sans-serif;
    font-size: 16px;
    color: #111111;
}
header .header-important {
    display: none;
}
/*HOME*/
.home-banner {
    width: 100%;
    height: calc(100vh - 100px); /*vh = view height, with calc, remoove the header
                                   when arriving at home*/
    background-image: url("img/Plant.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}
.vertical-center {
    display: table-cell;
    vertical-align: middle;
}
.home-banner h2 {
    padding-top: 30px;
    font-family: Elephant, sans-serif;
    font-size: 60px;
    color: white;
    text-align: center;
    /*text-shadow: 2px 2px 8px <-- BLUR #111111*/
}
.home-banner h1 {
    padding-top: 30px;
    font-family: Daytona, serif;
    font-size: 36px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 8px  #111111;
}